.Weather {
  padding: 60px 40px 40px;
  font-family: arial, sans-serif;
  border-radius: 10px;
  color: rgba(39, 33, 66, 0.5);
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.Weather form {
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
}

.Weather .search-input {
  background-color: rgba(253, 246, 244, 0.5);
  border: 1px solid rgba(135, 135, 135, 0.1);
  padding: 10px 20px;
}

.Weather .btn {
  background: #7c73e6;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
  border: none;
  height: 45px;
}

.Weather h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

.Weather ul {
  list-style: none;
  padding: 0;
}

.Weather strong {
  color: #ff709b;
}

.Weather .temperature-container {
  padding-top: 45px;
}

.Weather .temperature-container img {
  width: 100px;
}

.Weather .temperature {
  margin-left: 20px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  color: #212121;
}

.Weather .units {
  margin-left: 6px;
  color: #212121;
  font-weight: 600;
  font-size: 28px;
  position: relative;
  line-height: 1;
  top: -16px;
}

.Weather .WeatherForecast canvas {
  display: block;
  margin: 20px auto;
}
